*{
  text-align: center;
  margin: 0 auto;

}
body{
  margin-top: 15%;
  background-color: #9a8554;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: bold;

}
a{
  text-decoration: none;
  color: white;
}
.container{
  width: 100%;
  overflow: hidden;

}
.supercontainer{
  width: 49.15%;
  position: relative;

}
.form-container{
  background-color: #ad4139;
  padding-top: 1%;
  padding-bottom: 3%;

}
.form-control{
  width: 72.62%;
  margin: 0 auto;
}
.register{
  margin-top: 1%;
  margin-bottom: 1%;
  }
.jboton{
  background-color:#3d683c;
  width: 72.62%;
  border: none;
  margin-top: 2%;
}
.fas, .fa-times{
  color: white;
  position: absolute;
  right: 2%;
  top: 2%;
  }
p{
  font-size: 13px;
  margin: 0;
}
.btn{
  font-size: 13px;
}
.signupform{
  position: relative;
  display: flex;
  overflow: hidden;
}
.form-groups label{
  margin-top: 2%;
  float: left;

}
.form-groups input{
  margin-top: 2%;
  float: right;
}
.signup{
  position: relative;
  left: 2%;
}
  @media (min-width:900px) {
    body{
      font-size: 18px;
      margin-top: 10%;
  }
  p{
    font-size: 18px;
    margin: 0;
  }
  .btn{
    font-size: 18px;
  }
